<div class = "container"> 
    <div class = "row">
        <div class = "container col-3 mt-5">
            <% if current_user.id == @menu.user_id || !current_user.admin?%>
                <p><%= link_to "レシピを編集する", edit_menu_path(@menu.id), class: "btn btn-light"%></p></br>
            <% end %>

            <p><%= link_to "レシピを削除する", menu_path(@menu.id), method: :delete,
                                              data: {confirm: "削除してよろしいですか？"}, class: "btn btn-danger"%></p>
        </div>
        <div class = "menu_show col-9">
            <%= render "shared/menu_detail" %>
        </div>
    </div>
</div>