<div class="nested-fields">
    <%= f.text_field :item, placeholder: "例) 合い挽き肉" %>
    <%= f.text_field :quantity, placeholder: "例) 250g" %>
    <%= f.hidden_field :menu_id, :value => @menu.id %>
    <%= link_to_remove_association "削除", f %>
</div>