<div class = "container">
    <div class="row justify-content-center align-items-center">
        <div class="col-md-8 my-5 shadow p-3 bg-white rounded">
            <div class="col-md-12">
            <% if @head_or_tail >= 1 %>
                <%= render "shared/rakuten_recipe"%>
            <%else%>
                <%= render "shared/menu_detail" %>
            <% end %>
            </div>
        </div>
        <div class="col-md-2 shadow  mt-5 p-3 bg-white rounded align-self-start m-3">
            <%= render "home/pickup_btn"%>
        </div>
    </div>
</div>