<div class = "container">
    <div class="row justify-content-center my-5 align-items-center">
        <div class="col-md-8">
            <div class="col-md-12 shadow p-3 bg-white rounded">
                <%= render "shared/menu_detail" %>
            </div>
        </div>
        <div class="col-md-2 shadow p-3 bg-white rounded align-self-start m-3">
            <%= render "home/pickup_btn"%>
        </div>
    </div>
</div>