<div class = "container">
    <div class = "row">
        <div class = "col-3 my-5">
            <%= render "home/pickup_btn"%>
        </div>
        <div class = "col-7">
            <%= render "shared/menu_detail" %>
        </div>
    </div>
</div>