 @import "bootstrap-sprockets";
 @import "bootstrap";

 .alert{
   margin-bottom: 0px;
 }

 .error_messages{
     color: tomato;
 }

 .index_pic{
     height: auto;
     width: 100% ;
 }

 .menu_image{
   height: auto;
   width: 100%;
 }

 .field_with_errors {
    display: contents;
    // // もしくは
    // display: inline;
  }


  // login-form

  .login_form{
    margin-top: 150px;
    max-width: 600px;
    height: 360px;
    border: 1px solid #9C9C9C;
    background-color: #EAEAEA;
  }
  .login_text {
    padding: 20px;
  }
  #login-link {
    margin-top: -85px;
    .devise_link{
        color: #17a2b8;
    }
}

//registration_form

.registration_form{
  margin-top: 150px;
  max-width: 600px;
  height: auto;
  border: 1px solid #9C9C9C;
  background-color: #EAEAEA;
}
.registration_text {
  padding: 20px;
}

#regiform-link {
  padding-bottom: 20px;
  p{
    margin-bottom: -5px;
  }
  .devise_link{
      color: #17a2b8;
  }
}

//password-reset
.reset_form{
  margin-top: 150px;
  max-width: 600px;
  height: auto;
  border: 1px solid #9C9C9C;
  background-color: #EAEAEA;
}

.reset_text{
  padding: 20px;
}

#reset-link{
  margin-top: 30px;
  padding-bottom: 20px;
  .devise_link{
      color: #17a2b8;
  }
}

//user_page
.userinfo_text{
  padding-top: 20px;
}
.userinfo_form{
margin-top:200px;
max-width: 600px;
height: auto;
border: 1px solid #9C9C9C;
background-color: #EAEAEA;
}

// ページネーション
.pagination{
  li{
    .page-link {
      background:hsla(27, 100%, 95%, 0.76);
      border: none;     /*枠線をなくす*/
      color: #353131;   /*文字の色を変える*/
      margin-right:5px;
      margin-left:5px;
    }
  }
  .active{ //表示しているページ
    .page-link {
      background: #93c9ff;     /*背景の色を変える*/
      border-radius: 30px;     /*角を丸くする*/
    }
  }
  li{
    .page-link:hover {
      border-radius: 30px;    /*角を丸くする*/
      background:#b8babb;
    }
  }
}

//menu-index
.menu-body{
  p{
    margin-bottom: 0px;
    font-size: 10px;
  }
}

//top-page
.top-page{
  padding-top: 100px;
}

//pickup-btns
// .pickup-btns{
//   height: auto;
// }

//navbar
.header-nav{
  background-color:hsla(41, 100%, 50%, 0.932);
}

.wrapper{
  background-color:hsla(27, 100%, 95%, 0.76);
  min-height: 100vh;
  position: relative;/*←相対位置*/
  padding-bottom: 300px;/*←footerの高さ*/
  box-sizing: border-box;/*←全て含めてmin-height:100vhに*/
}
footer{
  width: 100%;
  color: #fff;
  background-color:hsla(41, 100%, 50%, 0.932);
  position: absolute;/*←絶対位置*/
  bottom: 0; /*下に固定*/
}

//wealcome-page
.meal{
  height: 50vh;
  width: 100%;
}
